@using MyWeddingPlanner.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <img src="https://unwsp.edu/uploads/_heroImageUpdatedLarge/fullwidth-wedding.jpg" class="w3-round align-center" width="1100" height="500" alt="...">
</div>
